<h4 style="margin-top: 15px">{{ title }}</h4>
<h5>Detalles de cancion</h5>
<form>
  <div class="row">
    <div class="six columns">
       <label for="idInput">ID</label>
       <input class="u-full-width" type="text" id="_id" value="{{ _id }}" readonly/>
    </div>
    <div class="six columns">
       <label for="copyrightInput">Año de publicación</label>
       <input class="u-full-width" type="text" id="copyright" value="{{ copyright }}" readonly/>
    </div>
  </div>
  <div class="row">
    <div class="six columns">
       <label for="editionInput">Género</label>
       <input class="u-full-width" type="text" id="edition" value="{{edition }}" readonly/>
    </div>
    <div class="six columns">
       <label for="languageInput">Idioma</label>
       <input class="u-full-width" type="text" id="language" value="{{ language }}" readonly/>
    </div>
  </div>
  <div class="row">
    <div class="six columns">
       <label for=" authorInput">Cantante</label>
       <a href="https://cantantes-minisite.netlify.app/get/?id={{ author_id }}">
         <input class="u-full-width" type="button" id=" author" value="{{ author }}" readonly/>
       </a>
    </div>
    <div class="six columns">
       <label for="languageInput">Album</label>
       <a href="https://publishers-minisite.netlify.app/get/?id={{ publisher_id }}">
         <input class="u-full-width" type="button" id="publisher" value="{{ publisher }}" readonly/>
       </a>
    </div>
  </div>
</form>
